/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header {
    padding: 5px 0;
}
.logo {
    width: 180px;
 }
.menu ul li a {
    padding: 0 0 5px 10px !important;
}

/*banner start*/
.banner {
    padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.bh1 {
   margin: 10px 0 20px;
   font-size: 30px;
   line-height: 35px;
}
 .bp2 {
    margin: 0 0;
    line-height: 30px;
}

.b_img {
    margin: 0 0 30px;
}
/*feature start*/
.c_p{
    padding-bottom: 60px;
}
.f_item{
    margin-top: 30px;
}



}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
header {
    padding: 5px 0;
}
.logo {
    width: 180px;
 }
.menu ul li a {
    padding: 0 0 5px 10px !important;
}
/*banner start*/
.banner {
    padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.bh1 {
   margin: 10px 100px 20px;
   font-size: 30px;
   line-height: 35px;
}
 .bp2 {
    margin: 0 50px;
    line-height: 30px;
}

.b_img {
    margin: 0 50px 30px;
}
/*feature start*/
.c_p{
    padding-bottom: 60px;
}
.f_item{
    margin-top: 30px;
}




}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a {
    padding: 0 0 5px 10px !important;
}
   /*banner start*/
   .b_text {
    text-align: center;
}
   .bh1 {
    margin: 10px 130px 20px;
    font-size: 40px;
    line-height: 50px;
}
   .bp2 {
    margin: 0 100px;
}

   .b_img {
    margin: 0 50px 30px;
}
/*feature start*/
.c_p{
    padding-bottom: 80px;
}
.f_item{
    margin-top: 30px;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*banner start*/
.bh1 {
    margin: 10px 40px 20px 0;
}
/*feature start*/
.f_img{
    width: 55px;
    height: 70px;
}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*banner start*/
.bh1 {
    margin: 10px 40px 20px 0;
}

}


/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
















